#footnote {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:20;
}

.ray {
    stroke: red;
    stroke-width: 1px;
    opacity: 0.5;
    fill: none;
}

.ray:hover {
    stroke: green;
    stroke-width: 2px;
    opacity: 1;
}